body{
    font-family: verdana;
}
#quiz, #final-score, #highscores{
    display: none;
}
.btn-color{
    background-color: rgb(82, 20, 227);
    color: white;
    border-radius: 12px;
}
.head{
    display:inline-flex
}
.timer{
    padding-left: 80%;
}
h1{
    display: flex;
    justify-content: center;
}
.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
}